<div class="cardContents_title-index">コメント</div>
<div class="cardContents_title-contenttitle"><%= @comment.content %></div>
<%= link_to '編集する', edit_post_comment_path(@comment.post, @comment), class: "edit_btn" %>