.login-form {
  width: 70%;
  background-color:rgba(255,255,255,0.15);
  mix-blend-mode: normal;
  box-sizing: border-box;
  box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.4);
  padding-top: 17px;
  border-radius: 2px;
  border: 1px solid #fff;
  margin: auto;
}

.log {
  height: 380px;
}
.sign {
  height: 750px;
  margin-bottom: 30px;
}
.inner-form {
  width: 65%;
  margin: 0 auto;

}

input#user_username,
input#user_term,
input#user_email,
input#user_password,
input#user_password_confirmation {
  width: 100%;
  margin: 0 0 15px 0;
}

.actions {
  text-align: center;
}

.inner-form h2,a {
  color: white;
  font-family: 'ヒラギノ明朝 ProN','Hiragino Mincho ProN',sans-serif;
}

em {
  color: white;
}

@media screen and (max-width:900px) {
  .login-form {
    width: 90%;
  }
  .inner-form {
    width: 80%;
  }

}
@media screen and (max-width: 600px) {
  input[type="submit"]{
    width: 60%;
  }
}


.linkto{
  color: white;
}